<div>
  <h1>ChatLive</h1>
  <div class="messages" id="chat_box" phx-hook="ScrollToBottom"
    style="border: 1px solid #eee; height: 400px; overflow: scroll; margin-bottom: 8px;">
    <%= for m <- @messages do %>
      <p style="margin: 2px;"><b>
          <%= m.sent_by %>
        </b>: <%= m.content %>
      </p>
      <% end %>
  </div>
  <form phx-submit="send">
    <input type="text" name="text" />
    <button type="submit">Send</button>
  </form>
</div>